body{
    margin: 0;
    padding: 20;
   /* background: linear-gradient(to bottom right, gray, whitesmoke)*/
}

.header{
    color: greenyellow;
    margin-bottom: 0px; 
}

.login-form-style{
    width: 55%;
    height: 80%;
    border-radius: 0;
    margin-left: 300px;
    margin-top: 15px;
    border: 1px solid rgb(66, 117, 212);
    z-index: -1;
    box-shadow: 5px 5px 5px rgb(66, 68, 81);
    background-color: white;

}

.sloghan{
    color: greenyellow;
    font-size: 15px;
    margin-top: 0;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sender{
    margin-top: 142.9%;
    font-size: 10px;
}
.left-div{
    float: left;
    width: 50.89%;
    height: 95%;
    text-align: center;
    background-image: url("images/back.jpg");
    background-position: center;

}

h2.sign{
    margin-left: -185px;
  
}

.right-div{
    float:right;
    width: 49.04%;
    height: 100%;
    text-align: center;
    border-left: 0.5px solid rgb(66, 117, 212);
}
.login-img{
    size: 30px;
}

.mini{
    margin-top: 20px;
}

.inp-1{
    padding: 22px, 120px;
    width: 75%;
    height: 35px;
    border: none;
    border-bottom: 1px solid rgb(66, 117, 212);
    font-weight: bold;
    font-size: 15px;
}

inp-1::selection{
    border: none;
    border-bottom: 1px solid rgb(66, 117, 212);
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
}


label{
    text-align: left;
    margin-left: -180px;
    font-weight: bolder;
}

span > i {
    color: rgb(0, 0, 0);
}
span > input.btn-1,
button.btn-1 {
    background-color: rgb(66, 117, 212);
    color: white;
    padding: 0;
    border: none;
    width: 150px;
    height: 40px;
    border-radius: 35px;
    margin-top: 20px;
    font-weight: bold;
    color: black;
    margin-left: -118px;
    z-index: 1;
}

span > input.btn-1,button.btn-1:hover{
    color: white;
    z-index: -1;
}

h2{
    font-weight: bolder;
    text-decoration: underline rgb(66, 68, 81);
}

footer{

    font-size: 10px;
    font-weight: bold;
}
.ender{
    margin-top: 91.4%;
    
}

.request{
    font-size: 15px;
    margin-top: 10px;
    margin-left: -106px;
}

.request a{
    text-decoration: none;
    color: rgb(66, 117, 212);
}

a:hover{
    text-decoration: underline rgb(66, 117, 212);
}

/*class="inp-1" -------- This is the Input Type button class*/

label.signer{
    margin-left: -165px;
    margin-top: 20px;
}

.spacer{
    margin-top: 17px;
}

label.mail{
    margin-left: -215px;
}

label.passer{
    margin-left: -190px;
}

label.passvery{
    margin-left: -136px;
}
.sign-reg{
    text-align: center;
    text-decoration: underline black;
    font-weight: bolder;
    color: rgb(66, 68, 81);
}

.ender-2{
    margin-top: 32%;
}